<h1>Genres</h1>

<% if @genres.any? %>
  <% @genres.each do |genre| %>
  <ul>
    <li><%= link_to genre.name, genre_path(genre) %></li>
  </ul>
  <% end %>
<% else %>
  <p>There are no Genres!!!!</p>
<% end %>

<h2>Books</h2>

<% if @popular_books.any? %>
  <% @popular_books.each do |book| %>
  <ul>
    <li><%= link_to book.name, book_path(book) %></li>
  </ul>
  <% end %>
<% else %>
  <p>There are no reviews!!!!</p>
<% end %>

<div class="well">
  <% if @random_genre.books.any? %>
    <%= link_to @random_genre.books[rand(@random_genre.books.length)].name, book_path(@random_genre.books[rand(@random_genre.books.length)]) %>
  <% else %>
    <p>No favorite book today!!!</p>
  <% end %>
</div>
